<div class="card-centerd">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" class="login-form">
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
    
        <mat-card-actions>
            <button mat-raised-button class="login-full-width" color="primary"(click)="login()">Login</button>
            <p>Don't have an account? <a routerLink="/register">Register</a></p>
        </mat-card-actions>
    </mat-card>
</div>

