<div class="card-centerd">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Events</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="eventForm" class="login-form">
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Event Name" formControlName="name">
                    <mat-error *ngIf="eventForm.get('name').hasError('required')">
                        Event Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <textarea matInput placeholder="Event description" formControlName="description"></textarea>
                    <mat-error *ngIf="eventForm.get('description').hasError('required')">
                        Event description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Event Date" formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="eventForm.get('date').hasError('required')">
                        Event date is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button class="login-full-width" color="primary" *ngIf="addBool" (click)="add()">Add</button>
            <button mat-raised-button class="login-full-width" color="primary" *ngIf="!addBool" (click)="edit()" [disabled]="!editHasData">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>