<mat-toolbar color="primary" class="navbar">
    <div>
        Event Viewer
    </div>
    <div>
        <button mat-button (click)="navAdd()">Add</button>
        <button mat-button (click)="navList()">List</button>
        <button mat-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>