<h1 mat-dialog-title>Delete {{data.name}}</h1>
<div mat-dialog-content>
    <p>Are you sure you want to delete {{data.name}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>