/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background: #f6f6f6;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.login-full-width {
    width: 100%;
}
.card {
    min-width: 150px;
    max-width: 500px;
}
.card-centerd {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
}