<div class="card-centerd">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm" class="login-form">
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="registerForm.get('username').hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Email" formControlName="email" type="email">
                    <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <span matPrefix>+389 &nbsp;</span>
                    <input matInput placeholder="Phone" formControlName="phone" type="tel">
                    <mat-error *ngIf="registerForm.get('phone').hasError('required')">
                        Phone is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button class="login-full-width" color="primary" (click)="register()">Register</button>
        </mat-card-actions>
    </mat-card>
</div>